{
  "openapi": "3.0.1",
  "info": {
    "title": "Visa Direct",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Adjustment API",
      "description": "The AdjustReverseFundsTransactions resource credits (pushes back) funds to the sender&apos;s Visa account by initiating a financial message called an Account Funding Transaction Reversal (AFTR) without the 24 hours limitation in the AFTR."
    },
    {
      "name": "Cancel OCT API",
      "description": "The Cancel API request can be used to stop a pending deferred OCT request from being sent to the recipient issuer for payment. This value is sent to cancel the original deferred OCT request that was submitted with request type as 02. The original deferred OCT request can only be canceled until it is processed which is approximately 48 hours from when it was submitted to Visa."
    },
    {
      "name": "Deferred OCT Advice API",
      "description": "Visa will implement the deferred Push Fund transaction confirmation advice message that will be used to confirm when a deferred Push Fund transaction request has been processed. Originators will receive deferred Push Fund transaction confirmation advices when the recipient issuer of a deferred Push Fund transaction request has responded."
    },
    {
      "name": "Funds Transfer API",
      "description": "The Funds Transfer API can pull funds from the sender&apos;s Visa account (in preparation for pushing funds to a recipient&apos;s account) in an Account Funding Transaction (AFT).  Additionally, the Funds Transfer API also provides functionality to push funds to the recipient&apos;s Visa account in an Original Credit Transaction (OCT).  If a transaction is declined, the Funds Transfer API can also return the funds to the sender&apos;s funding source in an Account Funding Transaction Reversal (AFTR). The API has been enhanced to allow originators to send their PushFundsTransactions(OCTs) and PullFundsTransactions(AFTs) to Visa for routing to multiple U.S. debit networks."
    },
    {
      "name": "Issuer Receive API",
      "description": "The Issuer Receive API provide a receive side client the option to request delivery of their OCTs via API.  This API assist issuers that don’t have SMS connection to establish similar connection via API, and allow a streamlined approach for FAST Funds integration."
    },
    {
      "name": "Mobile Push Payment Refund API",
      "description": "Mobile Push Payment is a simple, secure and fast way to pay and be paid using mobile phones. Mobile Push Payment enables a range of payment use cases and is technology agnostic-leveraging evolving POS environment such as QR codes and works on both smart or feature phones."
    },
    {
      "name": "Query API",
      "description": "The Transaction Query API can be used to determine the processing status of a transaction or to retreive the lifecycle of a transaction. This API can be used to check whether a PullFunds, PushFunds or ReverseFunds transaction processed successfully if received by Visa. This API could also be used to retrieve the detailed lifecycle or history of a transaction (e.g. original transaction, chargeback, chargeback reversal etc). "
    },
    {
      "name": "Receive Side Callback API",
      "description": "To facilitate the implementation of mVisa, Visa provides mVisa Receive Side API specifications to clients who implement a set of outbound RESTful APIs (Receive Side APIs) so that Visa can call these APIs to request clients to process the transactions over the Internet."
    },
    {
      "name": "Reports API",
      "description": "The Reports API provides reporting capabilities such as transaction reconciliation data API. The data needed for reconciliation includes both push(OCT) and pull(AFT) transaction details and any exceptions such as chargebacks & reversals. This data allows you to reconcile the transactions sent by your systems with what was processed through VisaNet."
    },
    {
      "name": "Visa Alias Directory API ",
      "description": "These are the API specifications for Alias Directory 1.0. <br><br>\nVisa Alias Directory Service provides services to map and resolve an identifier; referred to as an “Alias” such as mobile phone number or email address to a card Primary Account Number (PAN). The purpose of using an Alias for payment is that it is intuitive, easy to share, and avoids exposing sensitive information such as the PAN of the payee when initiating a payment. <br><br>\nA Visa client can use Visa Alias Directory Service to allow consumers to initiate push payments using an Alias. A Visa client can provide Visa Alias Directory Service with an Alias and receive the PAN mapped to that Alias. This PAN can then be used in a push payment."
    },
    {
      "name": "mVisa API",
      "description": "The mVisa is a simple, secure and fast way to pay and be paid using mobile phones. mVisa enables a range of payment use cases and is technology agnostic-leveraging evolving POS environment such as QR codes and works on both smart or feature phones."
    }
  ],
  "paths": {
    "/visaaliasdirectory/v1/managemerchant/updatealias": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Update Merchant Alias",
        "description": "Update merchant alias or agent alias info in the Alias Directory",
        "operationId": "Update Merchant Alias",
        "requestBody": {
          "description": "Request body for updating merchant or agent alias API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMerchantAliasRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "country": "KE",
                    "city": "Nairobi",
                    "merchantId": "4761100090708271",
                    "aliasId": "888000",
                    "merchantCategoryCode": "6012",
                    "transactionCurrencyCode": "404",
                    "recipientName": "Bob's Ice Cream",
                    "tipConvenienceFeeIndicator": "01",
                    "email": "bob@example.com",
                    "payloadFormatIndicator": "01",
                    "pointOfInitiationMethod": "11"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant or Agent Alias Update Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAliasResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "aliasId": "123456"
                    }
                  }
                }
              },
              "Update Merchant/Agent Alias Success Response": {
                "example": {
                  "aliasId": "123456"
                }
              }
            }
          },
          "400": {
            "description": "VAD-1000 Required Field missing: <field-name>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "VAD-1040 Record Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "city": "Nairobi",
          "email": "bob@example.com",
          "aliasId": "888000",
          "country": "KE",
          "aliasType": "01",
          "merchantId": "4761100090708271",
          "recipientName": "Bob's Ice Cream",
          "merchantCategoryCode": "6012",
          "payloadFormatIndicator": "01",
          "pointOfInitiationMethod": "11",
          "transactionCurrencyCode": "404",
          "tipConvenienceFeeIndicator": "01"
        },
        "x-name": "Update Merchant Alias",
        "x-notes": "",
        "x-codegen-request-body-name": "UpdateMerchantAliasRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1managemerchant~1updatealias/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/managemerchant": {
      "get": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Get Merchant Alias",
        "description": "Get alias and merchant or agent related data.",
        "operationId": "Get Merchant Alias",
        "parameters": [
          {
            "name": "merchantaliasid",
            "in": "query",
            "description": "This attribute is uniquely used by acquirer to identify their merchant or agent.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Valid type value is 'agent'. If type is not provided, default search for merchant alias records only.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alias Get Merchant or Agent Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantAliasResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "country": "KE",
                      "city": "Nairobi",
                      "merchantId": "4761100090708271",
                      "aliasId": "888000",
                      "merchantCategoryCode": "6012",
                      "transactionCurrencyCode": "404",
                      "recipientName": "Bob's Ice Cream",
                      "payloadFormatIndicator": "01",
                      "pointOfInitiationMethod": "12"
                    }
                  }
                }
              },
              "Alias Get Merchant/Agent Success Response": {
                "example": {
                  "city": "Nairobi",
                  "aliasId": "888000",
                  "country": "KE",
                  "aliasType": "01",
                  "merchantId": "4761100090708271",
                  "recipientName": "Bob's Ice Cream",
                  "merchantCategoryCode": "6012",
                  "payloadFormatIndicator": "01",
                  "pointOfInitiationMethod": "12",
                  "transactionCurrencyCode": "404"
                }
              }
            }
          },
          "404": {
            "description": "VAD-1040 Record Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-name": "Get Merchant Alias",
        "x-notes": "",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1managemerchant/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/resolve": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Resolve",
        "description": "The Resolve API provides recipient's primary account and related data associated with the input alias. The data returned in API response is in application/json format. In the request message, clients also have the option to choose which fields to return in the response by choosing the desired fields in the query parameter. Only unnested fields can be selected. In the response message, only fields selected in the query parameter will be returned. If none of the fields in the query parameter have values in the response message, then a 404 with error code VAD-1040 Record Not Found will be returned.",
        "operationId": "Resolve",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Optional query parameter to select the list of fields to be sent in Resolve Response. Currently supports only primary/first level json attributes from AliasResolveResponse. Nested attributes are not supported.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "recipientName,recipientNameLocal,issuerName,cardType,country,postalCode"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for resolve alias API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasResolveRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "businessApplicationId": "PP",
                    "alias": "254711001987"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alias Resolve Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasResolveResponse-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "country": "KE",
                      "city": "Mombasa",
                      "recipientPrimaryAccountNumber": "4895140000066666",
                      "issuerName": "Test Bank 1",
                      "postalCode": "80100",
                      "cardType": "Visa Classic",
                      "recipientName": "John K Kamau"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VAD-1000 Required Field missing: alias <br> VAD-1000 Required Field missing: businessApplicationId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-1"
                }
              }
            }
          },
          "404": {
            "description": "VAD-1040 Record Not Found <br> VAD-1260 Default account number is deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseURL-1"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-1"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-1"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "AliasResolveRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1resolve/post",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v2~1resolve/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/aliasinquiry": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Alias Inquiry",
        "description": "The Alias Inquiry API enables clients to check if an Alias or list of Aliases is available for Alias resolution. The response will indicate the Aliases that are available for Alias resolution. Up to 1000 Aliases can be sent in the Alias Inquiry request.",
        "operationId": "inquiry",
        "requestBody": {
          "description": "Request body for Alias Inquiry API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInquiryRequest"
              },
              "examples": {
                "default": {
                  "summary": "default",
                  "value": {
                    "aliases": [
                      "7911123456",
                      "7911123457",
                      "7911123458",
                      "7911123459",
                      "7911123460"
                    ],
                    "paymentInstrTypes": [
                      "CARD"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alias Inquiry Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasInquiryResponse"
                },
                "examples": {
                  "default": {
                    "summary": "default",
                    "value": {
                      "summary": {
                        "aliasesTotal": 5,
                        "aliasesFound": 4,
                        "aliasesNotFound": 1
                      },
                      "details": [
                        {
                          "paymentInstrOwner": "REQUESTOR",
                          "paymentInstrTypes": [
                            "CARD"
                          ],
                          "aliasType": "01",
                          "alias": "7911123456"
                        },
                        {
                          "paymentInstrOwner": "REQUESTOR",
                          "paymentInstrTypes": [
                            "CARD"
                          ],
                          "aliasType": "01",
                          "alias": "7911123457"
                        },
                        {
                          "paymentInstrOwner": "REQUESTOR",
                          "paymentInstrTypes": [
                            "CARD"
                          ],
                          "aliasType": "01",
                          "alias": "7911123460"
                        },
                        {
                          "paymentInstrOwner": "REQUESTOR",
                          "paymentInstrTypes": [
                            "CARD"
                          ],
                          "aliasType": "01",
                          "alias": "7911123458"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VAD-1100 aliases list size must be within 1 and 1000",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "VAD-1100 Request unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": {},
        "x-name": "Inquiry",
        "x-notes": "",
        "x-codegen-request-body-name": "AliasInquiryRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1aliasinquiry/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v2/resolve": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Resolve V2",
        "description": "The Resolve API provides recipient's primary account and related data associated with the input alias. The data returned in API response is in application/json format. In the request message, clients also have the option to choose which fields to return in the response by choosing the desired fields in the query parameter. Only unnested fields can be selected. In the response message, only fields selected in the query parameter will be returned. If none of the fields in the query parameter have values in the response message, then a 204 will be returned.",
        "operationId": "Resolve V2",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Optional query parameter to select the list of fields to be sent in Resolve Response. Currently supports only primary/first level json attributes from AliasResolveResponse. Nested attributes are not supported.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "recipientName,recipientNameLocal,issuerName,cardType,country,postalCode"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for Resolve API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasResolveRequest-2"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "businessApplicationId": "PP",
                    "alias": "254711001987"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resolve API Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasResolveResponse-2"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "country": "KE",
                      "city": "Mombasa",
                      "recipientPrimaryAccountNumber": "4895140000066666",
                      "issuerName": "Test Bank 1",
                      "postalCode": "80100",
                      "cardType": "Visa Classic",
                      "recipientName": "John K Kamau"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No content in response body. This is returned if Alias is not found or if there is no default payment instrument set for the Alias.",
            "content": {}
          },
          "400": {
            "description": "VAD-1000 Required Field missing: businessApplicationId <br> VAD-1010 Invalid value: businessApplicationId <br> VAD-1100 Invalid request <br> VAD-1160 AccountLookup Error <br> VAD-1170 Account number is restricted <br> VAD-1190 Cross border Alias resolution not allowed <br> VAD-1210 Invalid field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "VAD-1100 Request unauthorized <br> VAD-1290 Originator Country not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseV2"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseV2"
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "alias": "254711001987",
          "businessApplicationId": "PP"
        },
        "x-name": "Resolve",
        "x-notes": "",
        "x-codegen-request-body-name": "AliasResolveRequestPayload",
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/manage/getalias": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Get Alias",
        "description": "Get alias and recipient's related data.",
        "operationId": "Get Alias",
        "requestBody": {
          "description": "This attribute represents the unique id for a payment instrument belonging to a consumer cardholder.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAliasRequest-2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alias Get Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAliasResponse-2"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "country": "RU",
                      "recipientLastName": "Kamau",
                      "aliases": [
                        {
                          "isDefault": "true",
                          "aliasType": "01",
                          "alias": "756783776513"
                        },
                        {
                          "isDefault": "true",
                          "aliasType": "01",
                          "alias": "766783776517"
                        }
                      ],
                      "statusChangeDateTime": "2021-04-14 22:44:42",
                      "recipientMiddleName": "K",
                      "city": "Moscow",
                      "recipientFirstName": "John",
                      "recipientPrimaryAccountNumber": "9935070157933916",
                      "address1": "G.P.O",
                      "issuerName": "Test Bank 1",
                      "postalCode": "94588",
                      "cardType": "Visa Classic",
                      "consentDateTime": "2018-08-05 23:02:03",
                      "guid": "iehjghygjdoij",
                      "contactPhoneNumber": "973578377655",
                      "status": "ACTIVE"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "VAD-1040 Record Not Found ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "GetAliasRequest",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1manage~1getalias/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/manage/updatealias": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Update Alias",
        "description": "Update alias and recipient data in the Alias Directory",
        "operationId": "Update Alias",
        "requestBody": {
          "description": "Request body for updating alias API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAliasRequest-3"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170",
                    "consentDateTime": "2018-02-01 12:20:22"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alias Update Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasResponse-2"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170"
                    }
                  }
                }
              },
              "Alias Update Success Response": {
                "example": {
                  "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170"
                }
              }
            }
          },
          "400": {
            "description": "VAD-1000 Required Field missing: <field-name> <br> VAD-1180 Invalid account number <br> VAD-1300 Exceeded threshold for the number of requests where isDefault is True",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "VAD-1040 Record Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170",
          "consentDateTime": "2018-02-01 12:20:22"
        },
        "x-name": "Update Alias",
        "x-notes": "",
        "x-codegen-request-body-name": "UpdateAliasRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1manage~1updatealias/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/managemerchant/deletealias": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Delete Merchant Alias",
        "description": "Delete alias of a merchant or agent from the Alias Directory.",
        "operationId": "Delete Merchant Alias",
        "requestBody": {
          "description": "Request body for deleting a merchant or agent alias",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMerchantAliasRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "merchantId": "4761100090708271",
                    "aliasId": "888000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant/Agent Alias Delete Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAliasResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "aliasId": "123456"
                    }
                  }
                }
              },
              "Delete Merchant/Agent Success Response": {
                "example": {
                  "aliasId": "123456"
                }
              }
            }
          },
          "400": {
            "description": "VAD-1000 Required Field missing: <field-name>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "VAD-1040 Record Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "aliasId": "888000",
          "merchantId": "4761100090708271"
        },
        "x-name": "Delete Merchant Alias",
        "x-notes": "",
        "x-codegen-request-body-name": "DeleteAliasRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1managemerchant~1deletealias/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/manage/deletealias": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Delete Alias",
        "description": "Delete alias of a recipient from the Alias Directory.",
        "operationId": "Delete Alias",
        "requestBody": {
          "description": "Request body for deleting an alias",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAliasRequest-3"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170",
                    "alias": "254711333888"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alias Delete Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasResponse-3"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170"
                    }
                  }
                }
              },
              "Alias Delete Success Response": {
                "example": {
                  "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170"
                }
              }
            }
          },
          "400": {
            "description": "VAD-1000 Required Field missing: <field-name>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "VAD-1040 Record Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170",
          "alias": "254711333888"
        },
        "x-name": "Delete Alias",
        "x-notes": "",
        "x-codegen-request-body-name": "DeleteAliasRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1manage~1deletealias/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/manage/createalias": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Create Alias",
        "description": "Create an alias in the Alias Directory.",
        "operationId": "Create Alias",
        "requestBody": {
          "description": "Request body for creating alias API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAliasRequest-3"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "country": "KE",
                    "recipientLastName": "Bakari",
                    "recipientMiddleName": "M",
                    "city": "Nairobi",
                    "address2": "Region 1",
                    "recipientFirstName": "Jamie",
                    "recipientPrimaryAccountNumber": "4895140000066666",
                    "address1": "Street 1",
                    "issuerName": "Test Bank 1",
                    "postalCode": "00111",
                    "cardType": "Visa Classic",
                    "consentDateTime": "2018-03-01 01:02:03",
                    "expiryDate": "2030-01",
                    "aliasType": "01",
                    "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170",
                    "alias": "254711333888"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alias Create Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasResponse-4"
                }
              },
              "Create Alias Success Response": {
                "example": {
                  "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170"
                }
              }
            }
          },
          "400": {
            "description": "VAD-1000 Required Field missing: <field-name> <br> VAD-1010 Invalid value: <field-name> <br> VAD-1050 Record Exists <br> VAD-1180 Invalid account number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "city": "Nairobi",
          "guid": "574f4b6a4c2b70472f306f300099515a789092348832455975343637a4d3170",
          "alias": "254711333888",
          "country": "KE",
          "address1": "Street 1",
          "address2": "Region 1",
          "cardType": "Visa Classic",
          "aliasType": "01",
          "expiryDate": "2030-01",
          "issuerName": "Test Bank 1",
          "postalCode": "00111",
          "consentDateTime": "2018-03-01 01:02:03",
          "recipientLastName": "Bakari",
          "recipientFirstName": "Jamie",
          "recipientMiddleName": "M",
          "recipientPrimaryAccountNumber": "4895140000066666"
        },
        "x-name": "Create Alias",
        "x-notes": "",
        "x-codegen-request-body-name": "CreateAliasRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1manage~1createalias/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visaaliasdirectory/v1/managemerchant/createalias": {
      "post": {
        "tags": [
          "Visa Alias Directory API "
        ],
        "summary": "Create Merchant Alias",
        "description": "Creates a merchant or agent alias in the Alias Directory.",
        "operationId": "Create Merchant Alias",
        "requestBody": {
          "description": "Request body for creating merchant or agent alias",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantAliasRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "country": "KE",
                    "city": "Nairobi",
                    "merchantId": "4761100090708271",
                    "aliasId": "888000",
                    "merchantCategoryCode": "6012",
                    "transactionCurrencyCode": "404",
                    "recipientName": "Bob's Ice Cream",
                    "payloadFormatIndicator": "01",
                    "pointOfInitiationMethod": "11"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alias merchant or agent Create Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAliasResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "aliasId": "1234567"
                    }
                  }
                }
              },
              "Create Merchant/Agent Alias Success Response": {
                "example": {
                  "aliasId": "1234567"
                }
              }
            }
          },
          "400": {
            "description": "VAD-1000 Required Field missing: <field-name> <br> VAD-1010 Invalid value: <field-name> <br> VAD-1050 Record Exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "VAD-1120 Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "VAD-1130 Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "city": "Nairobi",
          "aliasId": "888000",
          "country": "KE",
          "aliasType": "01",
          "merchantId": "4761100090708271",
          "recipientName": "Bob's Ice Cream",
          "merchantCategoryCode": "6012",
          "payloadFormatIndicator": "01",
          "pointOfInitiationMethod": "11",
          "transactionCurrencyCode": "404"
        },
        "x-name": "Create Merchant Alias",
        "x-notes": "",
        "x-codegen-request-body-name": "CreateMerchantAliasRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visaaliasdirectory~1v1~1managemerchant~1createalias/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visadirect/v1/pushpayment/advice/receive/oct": {
      "post": {
        "tags": [
          "Issuer Receive API"
        ],
        "summary": "Receive OCT Advice API specification",
        "description": "Receive OCT Advice API specification",
        "operationId": "adviceOCT",
        "requestBody": {
          "description": "Request body for Receive OCT Advice API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiveOCTAdviceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response body for Receive OCT Advice API - Nil (i.e. no data element).",
            "content": {}
          },
          "400": {
            "description": "Error may be due to the following plausible reasons.<br/>Missing required field<br/>Field value exceeds the specified length.<br/>Field formatting does not match the expected format.<br/>Type mismatch like Non-string values in string fields<br/>Invalid JSON request /The recipient API server could not understand the request.<br/>Failed to decrypt the encrypted fields",
            "content": {}
          },
          "500": {
            "description": "Any unexpected error that may happen on the recipient server while processing the request.",
            "content": {}
          }
        },
        "x-name": "Receive OCT Advice API specification",
        "x-notes": "",
        "x-codegen-request-body-name": "receiveOCTAdviceRequestPayload",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect~1v1~1pushpayment~1advice~1receive~1oct/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/visadirect/v1/pushpayment/transactions/receive/oct": {
      "post": {
        "tags": [
          "Issuer Receive API"
        ],
        "summary": "Receive OCT API specification",
        "description": "Receive OCT API specification",
        "operationId": "receiveOCT",
        "requestBody": {
          "description": "Request body for Receive OCT API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiveOctRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response body for Receive OCT API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiveOctResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error may be due to the following plausible reasons.<br/>Missing required field<br/>Field value exceeds the specified length.<br/>Field formatting does not match the expected format.<br/>Type mismatch like Non-string values in string fields<br/>Invalid JSON request /The recipient API server could not understand the request.<br/>Failed to decrypt the encrypted fields",
            "content": {}
          },
          "500": {
            "description": "Any unexpected error that may happen on the recipient server while processing the request.",
            "content": {}
          }
        },
        "x-name": "Receive OCT API specification",
        "x-notes": "",
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect~1v1~1pushpayment~1transactions~1receive~1oct/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/visadirect/mvisa/v1/mr": {
      "post": {
        "tags": [
          "Mobile Push Payment Refund API"
        ],
        "summary": "MerchandiseReturn POST",
        "description": "Merchandise Return Transaction is used to refund (full or partial) sale amount back to consumer.  A merchant may, at its discretion, process a credit into consumer account when a valid transaction was previously processed. This situation can arise when the consumer cancels the purchase, or returns the goods in part or in full, or the merchant agrees to return a part of the payment.",
        "operationId": "createMerchandiseReturnTransaction",
        "requestBody": {
          "description": "Request body for creating in merchandise return",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchandiseReturnTransactionPayload"
              },
              "examples": {
                "Approved MR for Declined MRR": {
                  "summary": "Approved MR for Declined MRR",
                  "value": {
                    "amount": 123.45,
                    "localTransactionDateTime": "2023-05-07T21:32:52",
                    "recipientPrimaryAccountNumber": "4761360031541062",
                    "cardAcceptor": {
                      "address": {
                        "country": "USA",
                        "zipCode": "94404",
                        "city": "Test",
                        "county": "San Mateo",
                        "state": "CA"
                      },
                      "idCode": "CA-IDCode-77765",
                      "name": "Visa Inc. USA-Foster City",
                      "terminalId": "TID-9999"
                    },
                    "transactionIdentifier": "381228649430011",
                    "acquirerCountryCode": "101",
                    "acquiringBin": "408999",
                    "retrievalReferenceNumber": "412770451319",
                    "systemsTraceAuditNumber": "451018",
                    "transactionFeeAmt": "2.00",
                    "settlementServiceIndicator": 9,
                    "merchantCategoryCode": "6012",
                    "transactionCurrencyCode": "USD",
                    "merchantVerificationValue": {
                      "mvvAcquirerAssigned": "41394644363445313243",
                      "mvvVisaAssigned": "41394644363445313243"
                    },
                    "feeProgramIndicator": "aaa"
                  }
                },
                "Approved Merchandise Return": {
                  "summary": "Approved Merchandise Return",
                  "value": {
                    "amount": 123.45,
                    "localTransactionDateTime": "2023-05-07T21:32:52",
                    "recipientPrimaryAccountNumber": "4761360055652118",
                    "cardAcceptor": {
                      "address": {
                        "country": "USA",
                        "zipCode": "94404",
                        "city": "Test",
                        "county": "San Mateo",
                        "state": "CA"
                      },
                      "idCode": "CA-IDCode-77765",
                      "name": "Visa Inc. USA-Foster City",
                      "terminalId": "TID-9999"
                    },
                    "transactionIdentifier": "381228649430011",
                    "acquirerCountryCode": "101",
                    "acquiringBin": "408999",
                    "retrievalReferenceNumber": "412770451319",
                    "systemsTraceAuditNumber": "451018",
                    "transactionFeeAmt": "2.00",
                    "settlementServiceIndicator": 9,
                    "merchantCategoryCode": "6012",
                    "transactionCurrencyCode": "USD",
                    "merchantVerificationValue": {
                      "mvvAcquirerAssigned": "41394644363445313243",
                      "mvvVisaAssigned": "41394644363445313243"
                    },
                    "feeProgramIndicator": "aaa"
                  }
                },
                "Declined Merchandise Return": {
                  "summary": "Declined Merchandise Return",
                  "value": {
                    "amount": 123.45,
                    "localTransactionDateTime": "2023-05-07T21:32:52",
                    "recipientPrimaryAccountNumber": "4516220701072343",
                    "cardAcceptor": {
                      "address": {
                        "country": "USA",
                        "zipCode": "94404",
                        "city": "Test",
                        "county": "San Mateo",
                        "state": "CA"
                      },
                      "idCode": "CA-IDCode-77765",
                      "name": "Visa Inc. USA-Foster City",
                      "terminalId": "TID-9999"
                    },
                    "transactionIdentifier": "381228649430011",
                    "acquirerCountryCode": "101",
                    "acquiringBin": "408999",
                    "retrievalReferenceNumber": "412770451319",
                    "systemsTraceAuditNumber": "451018",
                    "transactionFeeAmt": "2.00",
                    "settlementServiceIndicator": 9,
                    "merchantCategoryCode": "6012",
                    "transactionCurrencyCode": "USD",
                    "merchantVerificationValue": {
                      "mvvAcquirerAssigned": "41394644363445313243",
                      "mvvVisaAssigned": "41394644363445313243"
                    },
                    "feeProgramIndicator": "aaa"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchandise Return Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchandiseReturnTransactionResponse"
                },
                "examples": {
                  "Approved MR for Declined MRR": {
                    "summary": "Approved MR for Declined MRR",
                    "value": {
                      "transmissionDateTime": "string",
                      "approvalCode": "string",
                      "settlementFlags": {
                        "settlementServiceFlag": "string",
                        "givUpdatedFlag": "string",
                        "settlementResponsibilityFlag": "string",
                        "givPreviouslyUpdatedFlag": "string"
                      },
                      "cardAcceptor": {
                        "address": {
                          "country": "string",
                          "zipCode": "string",
                          "city": "string",
                          "county": "string",
                          "state": "string"
                        },
                        "idCode": "string",
                        "name": "string",
                        "terminalId": "string"
                      },
                      "originalActionCode": "string",
                      "transactionIdentifier": "string",
                      "additionalTokenRespInfo": "string",
                      "statusIdentifier": "string",
                      "actionCode": "string",
                      "retrievalReferenceNumber": "string",
                      "feeProgramIndicator": "string",
                      "responseCode": "string"
                    }
                  },
                  "Approved Merchandise Return": {
                    "summary": "Approved Merchandise Return",
                    "value": {
                      "transmissionDateTime": "string",
                      "approvalCode": "string",
                      "settlementFlags": {
                        "settlementServiceFlag": "string",
                        "givUpdatedFlag": "string",
                        "settlementResponsibilityFlag": "string",
                        "givPreviouslyUpdatedFlag": "string"
                      },
                      "cardAcceptor": {
                        "address": {
                          "country": "string",
                          "zipCode": "string",
                          "city": "string",
                          "county": "string",
                          "state": "string"
                        },
                        "idCode": "string",
                        "name": "string",
                        "terminalId": "string"
                      },
                      "originalActionCode": "string",
                      "transactionIdentifier": "string",
                      "additionalTokenRespInfo": "string",
                      "statusIdentifier": "string",
                      "actionCode": "string",
                      "retrievalReferenceNumber": "string",
                      "feeProgramIndicator": "string",
                      "responseCode": "string"
                    }
                  },
                  "Declined Merchandise Return": {
                    "summary": "Declined Merchandise Return",
                    "value": {
                      "transmissionDateTime": "string",
                      "approvalCode": "string",
                      "settlementFlags": {
                        "settlementServiceFlag": "string",
                        "givUpdatedFlag": "string",
                        "settlementResponsibilityFlag": "string",
                        "givPreviouslyUpdatedFlag": "string"
                      },
                      "cardAcceptor": {
                        "address": {
                          "country": "string",
                          "zipCode": "string",
                          "city": "string",
                          "county": "string",
                          "state": "string"
                        },
                        "idCode": "string",
                        "name": "string",
                        "terminalId": "string"
                      },
                      "originalActionCode": "string",
                      "transactionIdentifier": "string",
                      "additionalTokenRespInfo": "string",
                      "statusIdentifier": "string",
                      "actionCode": "string",
                      "retrievalReferenceNumber": "string",
                      "feeProgramIndicator": "string",
                      "responseCode": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "amount": 123.45,
          "acquiringBin": "400171",
          "cardAcceptor": {
            "name": "Visa Inc. USA-Foster City",
            "idCode": "CA-IDCode-77765",
            "address": {
              "city": "Test",
              "state": "CA",
              "county": "San Mateo",
              "country": "USA",
              "zipCode": "94404"
            },
            "terminalId": "TID-9999"
          },
          "transactionFeeAmt": "2.00",
          "acquirerCountryCode": "643",
          "feeProgramIndicator": "aaa",
          "merchantCategoryCode": "6012",
          "systemsTraceAuditNumber": "451018",
          "transactionCurrencyCode": "USD",
          "enablerVerificationValue": "12345",
          "localTransactionDateTime": "2020-05-08T21:32:52",
          "retrievalReferenceNumber": "430000367722",
          "merchantVerificationValue": {
            "mvvVisaAssigned": "41394644363445313243",
            "mvvAcquirerAssigned": "41394644363445313243"
          },
          "settlementServiceIndicator": "9",
          "recipientPrimaryAccountNumber": "4761360055652118"
        },
        "x-name": "MerchandiseReturn POST",
        "x-notes": "",
        "x-codegen-request-body-name": "CreateMerchandiseReturnTransactionPayload",
        "x-samplePayloadXML": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?><mr:MrV2V2Request xmlns:mr=\"http://www.visa.com/vpp/api/mr\" xmlns:dd=\"http://www.visa.com/vpp/api/dd\"><acquirerCountryCode>643</acquirerCountryCode><transactionFeeAmt>2.00</transactionFeeAmt><acquiringBin>400171</acquiringBin><amount>123.45</amount><cardAcceptor><address><city>Test</city><country>USA</country><county>San Mateo</county><state>CA</state><zipCode>94404</zipCode></address><idCode>CA-IDCode-77765</idCode><name>Visa Inc. USA-Foster City</name><terminalId>TID-9999</terminalId></cardAcceptor><localTransactionDateTime>2020-05-08T21:32:52</localTransactionDateTime><merchantCategoryCode>6012</merchantCategoryCode><merchantVerificationValue><mvvVisaAssigned>41394644363445313243</mvvVisaAssigned><mvvAcquirerAssigned>41394644363445313243</mvvAcquirerAssigned></merchantVerificationValue><enablerVerificationValue>12345</enablerVerificationValue><recipientPrimaryAccountNumber>4761360055652118</recipientPrimaryAccountNumber><retrievalReferenceNumber>430000367722</retrievalReferenceNumber><systemsTraceAuditNumber>451018</systemsTraceAuditNumber><transactionCurrencyCode>USD</transactionCurrencyCode><feeProgramIndicator>aaa</feeProgramIndicator><settlementServiceIndicator>9</settlementServiceIndicator></mr:MrV2V2Request>",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect~1mvisa~1v1~1mr/post",
            "default": false
          }
        ]
      }
    },
    "/visadirect/mvisa/v1/mrr/{statusIdentifier}": {
      "get": {
        "tags": [
          "Mobile Push Payment Refund API"
        ],
        "summary": "Merchandise Return Reversal GET",
        "description": "Read Merchandise Return Reversal Transaction",
        "operationId": "readMerchandiseReturnReversalTransaction",
        "parameters": [
          {
            "name": "statusIdentifier",
            "in": "path",
            "description": "Status Identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchandise Return Reversal Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchandiseReturnReversalTransactionResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "transmissionDateTime": "2016-12-13T05:32:48.591",
                      "approvalCode": "21324K",
                      "transactionIdentifier": 234234322342343,
                      "actionCode": "00",
                      "merchantVerificationValue": "0A45AF98FC",
                      "feeProgramIndicator": "aaa",
                      "responseCode": "5"
                    }
                  }
                }
              },
              "application/xml": {
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?><transactionIdentifier>234234322342343</transactionIdentifier><approvalCode>21324K</approvalCode><actionCode>00</actionCode><responseCode>5</responseCode><transmissionDateTime>2016-12-13T05:32:48.591</transmissionDateTime><feeProgramIndicator>aaa</feeProgramIndicator><merchantVerificationValue>0A45AF98FC</merchantVerificationValue>"
                  }
                }
              }
            }
          }
        },
        "x-samplePayload": {},
        "x-name": "Merchandise Return Reversal GET",
        "x-notes": "",
        "x-samplePayloadXML": "",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect~1mvisa~1v1~1mrr~1{statusIdentifier}/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visadirect/mvisa/v1/mrr": {
      "post": {
        "tags": [
          "Mobile Push Payment Refund API"
        ],
        "summary": "Merchandise Return Reversal POST",
        "description": "Merchandise Return Reversal Transaction is used to reverse the refund amount that sent to the consumer. ",
        "operationId": "createMerchandiseReturnReversalTransaction",
        "requestBody": {
          "description": "Request body for creating in merchandise return reversal",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchandiseReturnReversalTransactionPayload"
              },
              "examples": {
                "Declined Merchandise Return Reversal": {
                  "summary": "Declined Merchandise Return Reversal",
                  "value": {
                    "amount": "24.01",
                    "localTransactionDateTime": "2023-05-07T21:32:52",
                    "recipientPrimaryAccountNumber": "4761360031541062",
                    "cardAcceptor": {
                      "address": {
                        "country": "IND",
                        "zipCode": "94404",
                        "county": "kolkata",
                        "state": "KO"
                      },
                      "idCode": "VMT200911026070",
                      "name": "Visa Inc. USA-Foster City",
                      "terminalId": "365539"
                    },
                    "transactionIdentifier": "456216275290541",
                    "acquirerCountryCode": "101",
                    "acquiringBin": "408999",
                    "senderCurrencyCode": "USD",
                    "retrievalReferenceNumber": "412770451320",
                    "systemsTraceAuditNumber": "451050",
                    "transactionFeeAmt": "2",
                    "settlementServiceIndicator": 9,
                    "merchantVerificationValue": {
                      "mvvAcquirerAssigned": "41394644363445313243",
                      "mvvVisaAssigned": "41394644363445313243"
                    },
                    "feeProgramIndicator": "aaa",
                    "originalDataElements": {
                      "transmissionDateTime": "2016-11-30T03:00:37",
                      "systemsTraceAuditNumber": 897825,
                      "approvalCode": "20304B",
                      "acquiringBin": 408999
                    }
                  }
                },
                "Approved Merchandise Return Reversal": {
                  "summary": "Approved Merchandise Return Reversal",
                  "value": {
                    "amount": "24.01",
                    "localTransactionDateTime": "2023-05-07T21:32:52",
                    "recipientPrimaryAccountNumber": "4761360055652118",
                    "cardAcceptor": {
                      "address": {
                        "country": "IND",
                        "zipCode": "94404",
                        "county": "kolkata",
                        "state": "KO"
                      },
                      "idCode": "VMT200911026070",
                      "name": "Visa Inc. USA-Foster City",
                      "terminalId": "365539"
                    },
                    "transactionIdentifier": "456216275290541",
                    "acquirerCountryCode": "101",
                    "acquiringBin": "408999",
                    "senderCurrencyCode": "USD",
                    "retrievalReferenceNumber": "412770451320",
                    "systemsTraceAuditNumber": "451050",
                    "transactionFeeAmt": "2",
                    "settlementServiceIndicator": 9,
                    "merchantVerificationValue": {
                      "mvvAcquirerAssigned": "41394644363445313243",
                      "mvvVisaAssigned": "41394644363445313243"
                    },
                    "feeProgramIndicator": "aaa",
                    "originalDataElements": {
                      "transmissionDateTime": "2016-11-30T03:00:37",
                      "systemsTraceAuditNumber": 897825,
                      "approvalCode": "20304B",
                      "acquiringBin": 408999
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchandise Return Reversal Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchandiseReturnReversalTransactionResponse"
                },
                "examples": {
                  "Declined Merchandise Return Reversal": {
                    "summary": "Declined Merchandise Return Reversal",
                    "value": {
                      "transmissionDateTime": "string",
                      "approvalCode": "string",
                      "settlementFlags": {
                        "settlementServiceFlag": "string",
                        "givUpdatedFlag": "string",
                        "settlementResponsibilityFlag": "string",
                        "givPreviouslyUpdatedFlag": "string"
                      },
                      "transactionIdentifier": "string",
                      "additionalTokenRespInfo": "string",
                      "statusIdentifier": "string",
                      "actionCode": "string",
                      "merchantVerificationValue": "string",
                      "feeProgramIndicator": "string",
                      "responseCode": "string"
                    }
                  },
                  "Approved Merchandise Return Reversal": {
                    "summary": "Approved Merchandise Return Reversal",
                    "value": {
                      "transmissionDateTime": "string",
                      "approvalCode": "string",
                      "settlementFlags": {
                        "settlementServiceFlag": "string",
                        "givUpdatedFlag": "string",
                        "settlementResponsibilityFlag": "string",
                        "givPreviouslyUpdatedFlag": "string"
                      },
                      "transactionIdentifier": "string",
                      "additionalTokenRespInfo": "string",
                      "statusIdentifier": "string",
                      "actionCode": "string",
                      "merchantVerificationValue": "string",
                      "feeProgramIndicator": "string",
                      "responseCode": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-samplePayload": {
          "amount": "24.01",
          "acquiringBin": "400171",
          "cardAcceptor": {
            "name": "Visa Inc. USA-Foster City",
            "idCode": "VMT200911026070",
            "address": {
              "state": "KO",
              "county": "kolkata",
              "country": "IND",
              "zipCode": "94404"
            },
            "terminalId": "365539"
          },
          "transactionFeeAmt": "2",
          "senderCurrencyCode": "USD",
          "acquirerCountryCode": "643",
          "feeProgramIndicator": "aaa",
          "originalDataElements": {
            "acquiringBin": "400171",
            "approvalCode": "21324K",
            "transmissionDateTime": "2016-11-30T03:00:37",
            "systemsTraceAuditNumber": "313223"
          },
          "transactionIdentifier": "891518058305395",
          "systemsTraceAuditNumber": "451050",
          "enablerVerificationValue": "12345",
          "localTransactionDateTime": "2020-05-08T21:32:52",
          "retrievalReferenceNumber": "430000367722",
          "merchantVerificationValue": {
            "mvvVisaAssigned": "41394644363445313243",
            "mvvAcquirerAssigned": "41394644363445313243"
          },
          "settlementServiceIndicator": "9",
          "recipientPrimaryAccountNumber": "4761360055652118"
        },
        "x-name": "Merchandise Return Reversal POST",
        "x-notes": "",
        "x-codegen-request-body-name": "CreateMerchandiseReturnReversalTransactionPayload",
        "x-samplePayloadXML": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?><mrr:MrrV2V2Request xmlns:mrr=\"http://www.visa.com/vpp/api/mrr\" xmlns:dd=\"http://www.visa.com/vpp/api/dd\"><acquirerCountryCode>643</acquirerCountryCode><acquiringBin>400171</acquiringBin><amount>24.01</amount><transactionFeeAmt>2</transactionFeeAmt><cardAcceptor><address><country>IND</country><county>kolkata</county><state>KO</state><zipCode>94404</zipCode></address><idCode>VMT200911026070</idCode><name>Visa Inc. USA-Foster City</name><terminalId>365539</terminalId></cardAcceptor><localTransactionDateTime>2020-05-11T21:32:52</localTransactionDateTime><originalDataElements><dd:acquiringBin>408999</dd:acquiringBin><dd:approvalCode>20304B</dd:approvalCode><dd:systemsTraceAuditNumber>897825</dd:systemsTraceAuditNumber><dd:transmissionDateTime>2020-05-11T03:00:37</dd:transmissionDateTime></originalDataElements><retrievalReferenceNumber>430000367722</retrievalReferenceNumber><senderCurrencyCode>USD</senderCurrencyCode><recipientPrimaryAccountNumber>4761360055652118</recipientPrimaryAccountNumber><systemsTraceAuditNumber>451050</systemsTraceAuditNumber><transactionIdentifier>891518058305395</transactionIdentifier><feeProgramIndicator>aaa</feeProgramIndicator><merchantVerificationValue><mvvVisaAssigned>41394644363445313243</mvvVisaAssigned><mvvAcquirerAssigned>41394644363445313243</mvvAcquirerAssigned></merchantVerificationValue><enablerVerificationValue>12345</enablerVerificationValue></mrr:MrrV2V2Request>",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect~1mvisa~1v1~1mrr/post",
            "default": false
          }
        ]
      }
    },
    "/visadirect/mvisa/v1/mr/{statusIdentifier}": {
      "get": {
        "tags": [
          "Mobile Push Payment Refund API"
        ],
        "summary": "Merchandise Return GET",
        "description": "Read Merchandise Return Transaction",
        "operationId": "readMerchandiseReturnTransaction",
        "parameters": [
          {
            "name": "statusIdentifier",
            "in": "path",
            "description": "Status Identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchandise Return Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchandiseReturnTransactionResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "transmissionDateTime": "2016-12-13T04:07:40.267",
                      "approvalCode": "21324K",
                      "cardAcceptor": {
                        "idCode": "IDCode",
                        "name": "ABC XYZ",
                        "terminalId": "TERMID01"
                      },
                      "transactionIdentifier": "234234322342343",
                      "actionCode": "00",
                      "retrievalReferenceNumber": "412770451018",
                      "feeProgramIndicator": "aaa",
                      "responseCode": "5"
                    }
                  }
                }
              },
              "application/xml": {
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?><transactionIdentifier>234234322342343</transactionIdentifier><actionCode>00</actionCode><responseCode>5</responseCode><transmissionDateTime>2016-12-13T04:07:40.267</transmissionDateTime><approvalCode>21324K</approvalCode><retrievalReferenceNumber>412770451018</retrievalReferenceNumber><feeProgramIndicator>aaa</feeProgramIndicator><cardAcceptor><name>ABC XYZ</name><terminalId>TERMID01</terminalId><idCode>IDCode</idCode></cardAcceptor>"
                  }
                }
              }
            }
          }
        },
        "x-samplePayload": {},
        "x-name": "Merchandise Return GET",
        "x-notes": "",
        "x-samplePayloadXML": "",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect~1mvisa~1v1~1mr~1{statusIdentifier}/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visadirect/v1/pushpayment/advice/receive/deferredoct": {
      "post": {
        "tags": [
          "Deferred OCT Advice API"
        ],
        "summary": "DeferredOctAdvice POST",
        "description": "DeferredOctAdvice POST",
        "operationId": "postDeferredOctAdvice",
        "requestBody": {
          "description": "Request body for Deferred OCT Advice API",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeferredOCTAdviceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response body for deferred OCT Advice API - Nil (i.e. no data element).",
            "content": {
              "application/xml": {
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200"
                }
              }
            }
          },
          "400": {
            "description": "Error may be due to the following plausible reasons.<ul><li>Missing required field</li><li>Field value exceeds the specified length.</li><li>Field formatting does not match the expected format.</li><li>Type mismatch like Non-string values in string fields</li><li>Invalid JSON request /The recipient API server could not understand the request.</li><li>Failed to decrypt the encrypted fields</li></ul>",
            "content": {}
          },
          "500": {
            "description": "Any unexpected error that may happen on the recipient server while processing the request.",
            "content": {}
          }
        },
        "x-name": "Deferred OCT Advice",
        "x-notes": "",
        "x-internalUri": {},
        "x-codegen-request-body-name": "deferredOCTAdviceRequestPayload",
        "x-slug": "operation_slug",
        "x-description": "Visa will implement the deferred Push Fund transaction confirmation advice message that will be used to confirm when a deferred Push Fund transaction request has been processed. Originators will receive deferred Push Fund transaction confirmation advices when the recipient issuer of a deferred Push Fund transaction request has responded.",
        "x-samplePayloadXML": "",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect~1v1~1pushpayment~1advice~1receive~1deferredoct/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/visadirect/reports/v1/transactiondata": {
      "get": {
        "tags": [
          "Reports API"
        ],
        "summary": "TransactionData",
        "description": "Transaction Data",
        "operationId": "TransactionData",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "description": "The beginning date. Example: 31032016 for 31st March 2016.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The end date. Example: 03042016 for 3rd April 2016. Currently, only upto 5 days worth of data can be retrieved.  Also, only the last 120 days of data can be searched from the current date.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Required additional fields. Example: Add fields like amountInTransactionCurrency, currencyConversionRate,   reasonCodeValue, cardType, networkId, transactionStateCode, businessApplicationId, separated by comma.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "This determines the page number for the pagination. Defalut is set to 1.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Total number of records that should be present in each page. Defalut is set to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "TransactionDataResponse": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "description": "This is the transaction amount expressed in U.S. Dollars. Derived internally."
                        },
                        "reasonCode": {
                          "maxLength": 60,
                          "minLength": 1,
                          "type": "string",
                          "description": "The reason code description is derived from, Field 63.3 of VIP/SMS transactions. Several different kinds of codes may appear in this field, including Fee Collection Reason Codes, Advice Reason Codes, Adjustment Reason Codes, Service Confirmation/Change Notification Reason Codes, Chargeback Reason Codes, etc.<br>Valid values include*:<br>(*Not a complete list)<br>0053 - Chargeback - not as described / defective<br>0083 - Fraud - card not present<br>2105 - Acquirer advice - Clearing of an authorized transaction<br>2121 - VSDC transaction - Offline approval<br>2501 - Reversal - Transaction voided by customer"
                        },
                        "acquiringBin": {
                          "type": "integer",
                          "description": "The Bank Identification Number (BIN) under which your Visa Direct is registered. This must match the information provided during enrollment."
                        },
                        "approvalCode": {
                          "type": "string",
                          "description": "The authorization code from the issuer. A code provided by the issuer (or VIP STIP) when a transaction is approved, or a \"no reason to decline\" code is provided. Used to tie subsequent messages to the original transaction."
                        },
                        "feeProgramDesc": {
                          "maxLength": 16,
                          "minLength": 1,
                          "type": "string",
                          "description": "Short text description of the Acquirer IRF (Interchange Reimbursement Fee) indicator. (Interchange fees are paid by issuers and acquirers to each other for transactions entered into interchange and their reversals)."
                        },
                        "processingDate": {
                          "type": "string",
                          "description": "The date on which VisaNet created the log (record)."
                        },
                        "cardAcceptorName": {
                          "maxLength": 25,
                          "minLength": 1,
                          "type": "string",
                          "description": "The name of the merchant or ATM (id/location) where the transaction occurred. In VIP this is the first 25 bytes of ISO F43 Card Acceptor Name."
                        },
                        "transactionState": {
                          "maxLength": 30,
                          "minLength": 1,
                          "type": "string",
                          "description": "The transaction code (TC) description identifies the type of transaction being processed by BASE II. <br>Valid Values include*:<br>04 - Reclassification Advice<br>05 - Original Sales Draft or Representment<br>06 - Original Credit Voucher or Representment<br>07 - Original Cash Disbursement or Representment<br>10 - Clearing Fee Collection<br>15 - Sales Draft Chargeback<br>25 - Sales Draft Reversal<br>40 - Fraud Advice<br>*Examples provided to clarify definition. May not be a complete list."
                        },
                        "cardAcceptorIdCode": {
                          "maxLength": 15,
                          "minLength": 1,
                          "type": "string",
                          "description": "An acquirer-assigned (15 byte) code identifying the card acceptor for the transaction. The code can represent a merchant, a specific merchant location, or a specific merchant terminal."
                        },
                        "settlementDateTime": {
                          "type": "string",
                          "description": "The date & time of a transaction’s SMS settlement between the acquirer and issuer.  Example 2016-05-01:091234"
                        },
                        "accountNumberMasked": {
                          "maxLength": 39,
                          "minLength": 13,
                          "type": "string",
                          "description": "Contains a masked number identifying an account or customer relationship at a financial institution. Populated from the primary account number (PAN) contained in the original authorization request.  The account number is typically 16 digits, but can vary depending on the source.  The six digits after the initial 6 digit BIN number of a 16 digit PAN number are replaced by 'xxxxxx' for security reasons.  This field is left justified with trailing blanks.  (Note: Trailing zeros indicate the Account Number Extension was appended, which is zero-filled if not used.  Insignificant trailing zeros are not part of the account number.)"
                        },
                        "feeProgramIndicator": {
                          "type": "string",
                          "description": "This field contains an interchange reimbursement fee program indicator (FPI), which is used in assessing the fee amount applied to financial transactions."
                        },
                        "transactionDateTime": {
                          "type": "string",
                          "description": "The date & time the transaction was submitted to VisaNet. Example 2016-04-30:162345"
                        },
                        "transactionIdentifier": {
                          "type": "string",
                          "description": "An identifier assigned by Visa to help uniquely identify a transaction and to link subsequent transactions, such as a reversal, to an original. The transaction identifier is returned to the acquirer in the authorization response and should be provided in subsequent clearing transactions. The components of the identifier include the transaction date, a sequence number for that date, a system identifier, and the time expressed in relative seconds."
                        },
                        "systemsTraceAuditNumber": {
                          "type": "integer",
                          "description": "An audit number assigned by the message originator - unique to the originator.  Also known as the Interface Trace Number in Base II and the System Trace Audit Number in VIP (ISO F11).  The trace number remains unchanged for all messages throughout the life of the transaction.  It is a key data element used to match a response to its request or to match a message to others for a given cardholder transaction set."
                        },
                        "transactionCurrencyCode": {
                          "type": "string",
                          "description": "Set internally during VisaNet processing, the ISO currency code which identifies the transaction currency code."
                        },
                        "retrievalReferenceNumber": {
                          "type": "string",
                          "description": "A value used to tie together service calls related to a single financial transaction. Contains a number used with other key data elements to identify and track all messages related to a given cardholder transaction (referred to as a transaction set)."
                        }
                      },
                      "description": "Transaction Data response"
                    }
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": [
                      {
                        "amount": "268.62",
                        "approvalCode": "681791",
                        "transactionDateTime": "2016-03-15:040142",
                        "processingDate": "2023-03-10",
                        "cardType": "Debit",
                        "accountNumberMasked": "405258XXXXXX0311",
                        "transactionIdentifier": "665275145021742",
                        "acquiringBin": "408999",
                        "feeProgramDesc": "OCTRANFR NATL",
                        "retrievalReferenceNumber": "527504086995",
                        "amountInTransactionCurrency": "200.2",
                        "systemsTraceAuditNumber": "086995",
                        "transactionStateCode": "06",
                        "businessApplicationId": "AA",
                        "transactionCurrencyCode": "840",
                        "cardAcceptorIdCode": "Cardacceptor_3",
                        "networkId": "14",
                        "cardAcceptorName": "VISA MONEY TRANSFER",
                        "reasonCode": "NOT APPLICABLE",
                        "currencyConversionRate": "0",
                        "settlementDateTime": "2023-03-10:010000",
                        "transactionState": "CRED VOUCHER",
                        "feeProgramIndicator": "",
                        "reasonCodeValue": "0000"
                      },
                      {
                        "amount": "11368.62",
                        "approvalCode": "681791",
                        "transactionDateTime": "2016-03-15:040142",
                        "processingDate": "2023-03-09",
                        "cardType": "Debit",
                        "accountNumberMasked": "405258XXXXXX0311",
                        "transactionIdentifier": "665275145021742",
                        "acquiringBin": "408999",
                        "feeProgramDesc": "OCTRANFR NATL",
                        "retrievalReferenceNumber": "527504086995",
                        "amountInTransactionCurrency": "200.2",
                        "systemsTraceAuditNumber": "086995",
                        "transactionStateCode": "06",
                        "businessApplicationId": "AA",
                        "transactionCurrencyCode": "840",
                        "cardAcceptorIdCode": "Cardacceptor_3",
                        "networkId": "14",
                        "cardAcceptorName": "VISA MONEY TRANSFER",
                        "reasonCode": "NOT APPLICABLE",
                        "currencyConversionRate": "0",
                        "settlementDateTime": "2023-03-10:010000",
                        "transactionState": "CRED VOUCHER",
                        "feeProgramIndicator": "",
                        "reasonCodeValue": "0000"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect~1reports~1v1~1transactiondata/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visadirect/mvisa/v1/merchantpushpayments/{statusIdentifier}": {
      "get": {
        "tags": [
          "mVisa API"
        ],
        "summary": "MerchantPushPayments GET",
        "description": "Get the status and details for a specific MerchantPushPayments POST request when timeout occurs.",
        "operationId": "MerchantPushPayment GET",
        "parameters": [
          {
            "name": "statusIdentifier",
            "in": "path",
            "description": "Status Identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Push Payment Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantPushPaymentResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
[...]
